<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My Workouts
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Track a new workout
    </h2>

    <form action="/insert_exercise" method="post">
      <div class="form-group">
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" class="form-control">
      </div>

      <div class="form-group">
        <label for="ex_type_box">
          Workout type
        </label>
        <select id="ex_type_box" name="query_ex_type">
    <option>Weights</option>
    <option>Cardio</option>
    </select>
      </div>
      <button class="btn btn-block btn-primary">
        Track workout
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Date
        </th>

        <th>
          Exercise type
        </th>
        <th>
        </th>
      </tr>
      <h5> View <div> <a href= "/my_workouts"> all </a>  </div> 
      <div>  <a href= "/my_workouts_cardio"> only cardio </a>   </div> 
      <div> <a href= "/my_workouts_weights"> only weights </a> </div>  </h5>
      <% @exercises.each do |exercise| %>
      <tr>
        <td>
          <%= exercise.date %>
        </td>

        <td>
          <%= exercise.ex_type %>
        </td>
        <td>
          <a href="/my_workouts/<%= exercise.id %>">
            Show workout details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
