<center> <h2>Sign up for Track My Workout!</h2> </center>
<center>
<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="dob_box">Birth Date</label>
    <input type="date" id="dob_box" name="query_dob">
  </div>
         
  <div>
    <label for="height_ft_box">Height ft</label>
    <select type= "integer" id="height_ft_box" name="query_height_ft">
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    </select>
    <label for="height_in_box">in</label>
  <select type= "integer" id="height_in_box" name="query_height_in">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
  </select>
  </div>
  <div>
    <label for="weight_box">Weight in lbs</label>
    <input type="integer" id="weight_box" name="query_weight">
  </div>
<div>
 <label for="sex_box">Sex</label>
<select type= "string" id="sex_box" name="query_sex">
    <option>Male</option>
    <option>Female</option>
</select>
</div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>
</center>
<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
